/*Nav*/
nav{
    display: flex;
    gap: 2vw;
    background-color: rgb(47, 47, 47);
    align-items: center;
    padding: 1vw;
    margin: -8px;
    border-bottom: solid black 4px;
}
nav img{
    background-color: grey;
    padding: 3px;
    width: 5vw;
    border-radius: 20%;

}
nav a{
    background-color: red;
    text-decoration: none;
    color: black;
    border-radius: 30%;
    padding: 1vh;
}

/*Header*/
header{
    background-image: url(images/gamer-background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

header p{
    margin:1vw;
    padding:2vw;
}
